{% extends "base.html" %}
{% block title %} Achievements {% endblock %}
{% block content %}
    <div class="main-content Achievements">
        <h2><i class="fa fa-certificate w3-xxlarge w3-text-black"></i> Achievements</h2> <br>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Business Award</b></h5>
            <p><em>School Award</em></p>
            <p> Award for the highest achieving student for Business Studies</p>
            <hr>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>WRO (World Robotic Olympiad)</b></h5>
            <p><em>Global Competition </em></p>
            <p>Represented the national team to compete with other countries in building and programing robots </p>
            <hr>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>NRO (National Robotics Olympiad)</b></h5>
            <p><em>National Competition</em></p>
            <p>Represented my school to compete with other schools in building/programing robots </p>
            <hr>
        </div>
    </div>
{% endblock content %}
