{% from "_render_post.html" import render_post %}
{% extends "base.html" %}
{% block content %}
<div class="content-section create-post">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 pb-3">{{ legend }}</legend>
            {{ render_post(form.title, placeholder=form.title.label.text) }}
            {{ render_post(form.content, placeholder=form.content.label.text, rows="5") }}

        </fieldset>
        <div class="form-group p-btn">
            {{ form.submit(class="btn-sm btn-info post-btn text-uppercase") }}
        </div>
    </form>
</div>
{% endblock content %}