{% extends "base.html" %}
{% block title %} Experience {% endblock %}
{% block content %}
        <div class="main-content timeline">
            <div class="w3-container w3-card w3-white">
                <h2><i class="fa fa-certificate w3-xxlarge w3-text-black"></i> Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Technology Internship</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h6>
                    <p><em>Application Development Programmer</em></p>
                    <p>Created apps for robots for commercial users for company called Blue Lynx</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Digital Leader</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
                    <p><em>Student Technical Support</em></p>
                    <p>Assist in technical problems in use of fixing computer related problems as well as other digital devices
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>School Work Experience</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2019</h6>
                    <p><em>Teacher Assistant</em></p>
                    <p>Complete delegated task from teachers and assist in planning and coordination of activities</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Carnegie Mellon Workshop</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
                    <p><em>Computer Science Course</em></p>
                    <p>Activities involving programming, problem solving and other skills to complete task involving teamwork at
                        Carnegie Mellon University</p>
                </div>
            </div>
        </div>
{% endblock content %}
