{% extends "base.html" %}
{% block title %} Achievements {% endblock %}
{% block content %}
    <div class="main-content Achievements">
        <h2><i class="fa fa-certificate w3-xxlarge w3-text-black"></i> Achievements</h2> <br>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Achievement 1</b></h5>
            <p><em>First Award</em></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lorem non enim bibendum posuere.</p>
            <hr>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Achievement 2</b></h5>
            <p><em>Second Award</em></p>
            <p> sit amet porta dictum. Nunc consectetur dui sed metus malesuada mol</p>
            <hr>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Achievement 3</b></h5>
            <p><em>Third Award</em></p>
            <p> felis nulla id elit. Vivamus ornare tortor ac finibus lacinia. Integer facilisis egestas diam non luctus.</p>
            <hr>
        </div>
    </div>
{% endblock content %}
