{% extends "base.html" %}
{% block title %} Education {% endblock %}
{% block content %}
    <div class="main-content timeline">
        <div class="w3-container w3-card w3-white">
            <h2><i class="fa fa-certificate w3-xxlarge w3-text-black"></i> Education</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Queen Mary University of London</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2019 - present</h6>
                <p>Computer Science Bsc</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Education 1</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015-2019</h6>
                <b>A2 grades: </b><br>
                <ul>
                    <li>Business Studies : A* </li>
                    <li>Computer Science : B </li>
                    <li>Maths : B </li>
                </ul>
                <b>AS grades: </b><br>
                <ul>
                    <li>Maths : A </li>
                    <li>Business Studies : A </li>
                    <li>Computer Science : A </li>
                    <li>History : A </li>
                </ul>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Education 3</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
                <p><em>Education Title</em></p>
                <p>el magna eu est commodo tristique vel non dui. Phasellus id risus urna. Nulla sed a</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Education 4</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
                <p><em>Education Title</em></p>
                <p>el magna eu est commodo tristique vel non dui. Phasellus id risus urna. Nulla sed a</p>
            </div>
        </div>
    </div>
{% endblock content %}
