{% extends "base.html" %}
{% block title %} Portfolio {% endblock %}
{% block content %}

    <!-- Main Content Projects -->
    <div class="main-content projects">
        <div class="w3-container w3-card w3-white">
            <h2><i class="fa fa-certificate w3-xxlarge w3-text-teal"></i> Portfolio</h2> <br>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Project 1</b></h5>
                <p>dui ac mattis placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                    urae; Nulla nunc turpis, finibus ut nibh blandit, aliquet sodales est. Phasellus vitae laoreet arcu. 
                    Proin quis interdum ligula, ac vestibulum diam. Interdum et malesuada fames ac ante ipsum primis in 
                    fauc</p> <br>
                <figure>
                    <img class="img-project" src="images/stockmarket.jpg" alt="" width="540pt" height="300pt">
                    <p>Try code here:</p>
                    <a href="projects/StockMarketSimulator.zip" download>
                        <img src="images/download.jpg" alt="" width="240pt" height="70pt">
                    </a>
                    <hr>
                </figure>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Project 2</b></h5>
                <p>dui ac mattis placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                    urae; Nulla nunc turpis, finibus ut nibh blandit, aliquet sodales est. Phasellus 
                    vitae laoreet arcu. 
                    Proin quis interdum ligula, ac vestibulum diam. Interdum et malesuada fames ac ante ipsum primis in 
                    fauc l magna eu est commodo tristique vel non dui. Phasellus id risus urna. 
                    Nulla sed arcu sed orci fringilla iaculis. Fusce varius sapien 
                    sit amet porta dictu</p> <br>
                <figure>
                    <img class="img-project" src="images/stockmarket.jpg" alt="" width="540pt" height="300pt">
                    <p>Try code here:</p>
                    <a href="projects/StockMarketSimulator.zip" download>
                        <img src="images/download.jpg" alt="" width="240pt" height="70pt">
                    </a>
                    <hr>
                </figure>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Project 3</b></h5>
                <p>dui ac mattis placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                    urae; Nulla nunc turpis, finibus ut nibh blandit, aliquet sodales est. Phasellus 
                    vitae laoreet arcu.
                </p> <br>
                <figure>
                    <img class="img-project" src="images/stockmarket.jpg" alt="" width="540pt" height="300pt">
                    <p>Try code here:</p>
                    <a href="projects/StockMarketSimulator.zip" download>
                        <img src="images/download.jpg" alt="" width="240pt" height="70pt">
                    </a>
                    <hr>
                </figure>
            </div>
        </div>
    </div>
    <!-- END Main Content Projects -->

{% endblock content %}
